<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>LinkRelationsIntro</h1>
                <h2>Includes 'Week 7' topics in Fall 2013</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Introduction to 'Link Relations'; includes:</h3>
        <ol class="round">
            <li class="one">
                <h5>View model classes</h5>
                New 'view model' classes as containers for the response data,<br />
                as well as a collection of links 
            </li>

            <li class="two">
                <h5>Updated controller code</h5>
                Adds link relations to get-all and get-one results
            </li>
            <li class="three">
                <h5>HTTP OPTIONS handler</h5>
                Enables 'discovery' by clients of the web service
            </li>
        </ol>
    </section>
</div>
