<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>RelationOneToManySelf</h1>
                <h2>Entity that has a relation with itself</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Employee class; reports-to another employee; and may supervise other employees:</h3>
        <ol class="round">
            <li class="one">
                <h5>Feature 1</h5>
                Collection class, as you would expect.
            </li>

            <li class="two">
                <h5>Feature 2</h5>
                To-one reference; AND a scalar (int) for the identifier.
            </li>
        </ol>
    </section>
</div>
