<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Data annotations, Code First Migrations, and 'Help' page configuration</h2>
            <p>
                September 24
            </p>
            <p>
                A wide range of topics today
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Features:</h3>
        <ol class="round">
            <li class="one">
                <h5>Using a project as a 'template'</h5>
                This project was created by following the procedure in today's notes
            </li>

            <li class="two">
                <h5>Data annotations, again</h5>
                In the app domain model classes
            </li>

            <li class="three">
                <h5>Code First Migrations</h5>
                Enables you to change the app domain data model, and KEEP THE DATA!
            </li>

            <li class="four">
                <h5>ASP.NET Web API 'Help' page</h5>
                Add XML Comments to your controller methods<br />
                Users can now see nice documentation for your web API
            </li>

        </ol>
    </section>
</div>
