<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ExceptionFilter</h1>
                <h2>An elegant way to handle and log an exception</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Exception filter as a handler; includes:</h3>
        <ol class="round">
            <li class="one">
                <h5>App domain class</h5>
                New 'LoggedException' class
            </li>

            <li class="two">
                <h5>Supporting code</h5>
                View model and repository, and an "Errors" controller
            </li>
            <li class="three">
                <h5>Exception filter</h5>
                In the "Handlers" folder<br />
                Started/configured in the WebApiApplication class when the app starts
            </li>
        </ol>
    </section>
</div>
