<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Security, using the OAuth framework</h2>
            <p>
                October 8
            </p>
            <p>
                Message handler concept, using the OAuth Authorization Framework
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Features:</h3>
        <ol class="round">
            <li class="one">
                <h5>Message handler</h5>
                Performs the authentication task <br />
                Located early in the request-processing pipeline<br />
                Initialized in the Global.asax.cs source code file
            </li>

            <li class="two">
                <h5>Authorize attribute</h5>
                Used in controllers (controller, or per-method, or globally)<br />
                Per-user and/or per-role authorization
            </li>

            <li class="three">
                <h5>Uses a professor-authored OAuth implementation web app</h5>
                Enables you to create accounts to test your own web service<br />
                Includes a 'token validation endpoint'<br />
                <a href="http://warp.senecac.on.ca:81/bti420_121a42/" target="_blank">Click here to use it</a> 
            </li>

        </ol>
    </section>
</div>
